---
import Card from "../components/Card.astro";
import Navigation from "../components/Navigation.astro";
import "../styles/style.css"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
	<link rel="stylesheet" href="./src/styles/style.css">
    <title>Astro</title>
  </head>
  <body>
    <Navigation />
    <h1>Spotify-playlister</h1>
    <main>
      <Card header="Today's Top Hits" imgsrc="https://picsum.photos/id/65/150/150", text="Jung Kook is on top of the Hottest 50!"/>
      <Card header="RapCaviar" imgsrc="https://picsum.photos/id/68/150/150", text="New music from Drake, Rod Wave and Doja Cat."/>
      <Card header="All out 2010s" imgsrc="https://picsum.photos/id/76/150/150", text="The biggest songs of the 2010s."/>
	  <Card header="Rock Classics" imgsrc="https://picsum.photos/id/240/150/150", text="Rock legends & epic songs that continue to inspire generations. Cover: Foo Fighters"/>
      <Card header="Chill Hits" imgsrc="https://picsum.photos/id/331/150/150", text="Kick back to the best new and recent chill hits."/>

	<h1>Fokus</h1>
      <Card header="Peaceful Piana" imgsrc="https://picsum.photos/id/325/150/150", text="Peaceful piano to help you slow down, breathe, and relax." />
      <Card header="Deep Focus" imgsrc="https://picsum.photos/id/334/150/150", text="Keep calm and focus with ambient and post-rock music." />
      <Card header="All out 2010s" imgsrc="https://picsum.photos/id/338/150/150", text="Focus with soft study music in the background." />
	  <Card header="Instrumental Study" imgsrc="https://picsum.photos/id/349/150/150", text="Lounge and chill out music for your workday." />
      <Card header="Focus Flow" imgsrc="https://picsum.photos/id/364/150/150", text="Focus with melodic techno and tech house." />
    </main>
  </body>
</html>
