---
---

<!--
<nav>
    <a href="/#">Tilmeld dig</a>
    <a href="/#">Log på </a>
</nav>
 -->

 <nav>
    <a href="/#">
    <img src="../src/icons/logo.svg" alt=""></a>
    <a href="/#">
     <img src="../src/icons/home-filled.svg" alt=""></a>
    <a href="/#">
    <img src="../src/icons/search-icon.svg" alt=""></a>

    <a href="/#">
     <img src="../src/icons/library-icon-filled.svg" alt=""></a>
     <p>Your Library</p>
     <a href="/#">
        <img src="../src/icons/create-icon.svg" alt=""></a>

</nav>

<style>

nav{
    display: inline-block;
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr;
}

a{
color: rgb(255, 255, 255);
}


</style>